* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

a {
    color: #333;
    text-decoration: none;
}

/* h1, h2, h3 {
    padding-bottom: 20px;
} */

/* p {
    margin: 10px 0;
} */

#navbar h1 {
    float: left;
    padding-top: 20px;
}

#navbar ul {
    list-style: none;
    float: right;
}

#navbar ul li {
    float: left;
}

/* a tag is an inline element hence we displayed it as block */
#navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
}

.container {
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
}